@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;700&display=swap');

:root {

    --color-very-dark-magenta: hsl(300, 43%, 22%);
    --color-soft-pink: hsl(333, 80%, 67%);

    --color-dark-grayish-magenta: hsl(303, 10%, 53%);
    --color-light-grayish-magenta: hsl(300, 24%, 96%);
    --color-white: hsl(0, 0%, 100%);

    --fs-body: 15px;
    --ff: "League Spartan", serif;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-bold: 700;
}

*, 
*::before, 
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--ff);
    font-size: var(--fs-body);
    background: url(./images/bg-pattern-top-desktop.svg), 
    url(./images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right bottom;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.container {
    margin-top: 20px;
}

.top-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left-side {
    width: 550px;
}


h1 {
    margin: 0;
    padding-right: 180px;
    color: var(--color-very-dark-magenta);
    font-size: 3.3rem;
    font-weight: var(--fw-bold);
    line-height: 1;
}

ul {
    margin: 0;
    padding: 25px 0 0 0;
}

ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: var(--color-dark-grayish-magenta);
    font-size: 1.15rem;
    font-weight: var(--fw-regular); 
    word-spacing: 5;
    line-height: 1.4;
}

.right-side {
    width: 550px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    justify-items: right;
}


.ratings {
    width: 440px;
    height: fit-content;
    background-color: var(--color-light-grayish-magenta);
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 3px 0 3px 30px;
    
    
}

.stars {
    display: block;
    width: 24px;
    height: 16px;
    padding-right: 6px;


}

.rated-from {
    color: var(--color-very-dark-magenta);
    font-size: 1.1rem;
    font-weight: var(--fw-bold);
    padding-left: 25px;
}

.first-review {
    transform: translate(-22%, 0);
}

.second-review {
    transform: translate(-11%, 0);
}


.bottom-content {
    display: grid;
    width: 1100px;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    padding-top: 100px;
    gap: 2rem;
}

.card {
    background-color: #521E4F;
    width: 345px;
    height: 245px;
    padding: 25px 35px 25px 35px;
    border-radius: 8px;   
}

.user {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.user-info {
    padding-left: 20px;
    display: block;
}

.profile-pic {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}


.profile-pic:hover {
    border: 3px solid var(--color-very-dark-magenta);
    opacity: 0.8;
    transition: 0.2s ease-in;
}

strong {
    color: var(--color-light-grayish-magenta);
    font-size: 1.04rem;
    line-height: 1.4;
}

.bought {
    margin: 0;
    color: var(--color-soft-pink);
    font-size: 1.04rem;
    line-height: 1.4;
}

.review {
    color: var(--color-white);
    font-weight: var(--fw-regular);
    font-size: 1rem;
    line-height: 1.4;
    padding-top: 12px;
}

.card-a {
    transform: translate(0, -15%);
}

.card-b {
    transform: translate(0, -5%);
}

.card-c {
    transform: translate(0, 5%);
}








@media only screen and (max-width: 1120px) and (min-width: 400px) {


    .container {
        padding-top: 50px;
        width: 100vw;
    }

    .top-content {
        display: grid; 
        grid-template-columns: 1fr;
        margin: 0;
        padding: 0;
    }


    .left-side {
       width: fit-content;
       display: grid;
       place-items: center;
    }

    .right-side {
        width: fit-content;
        margin: 0;
        padding-top: 30px;
    }

    h1 {
        min-width: fit-content;
        margin: 0;
        padding: 0 30px;
        text-align: center;
    }

    ul {
        min-width: fit-content;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 30px;
    }
    
    ul li {
        margin: 0;
        padding: 0 2px;
        white-space: nowrap;
        text-align: center;
        
    }

    .top-content {
        display: grid;
        place-items: center;
    }

    .ratings {
        margin-bottom: 20px;
    }

    .rated-from {
        text-align: center;
    }

    .first-review {
        transform: translate( 0, 0);
    }

    .second-review {
        transform: translate( 0, 0);
    }

    .bottom-content {
        margin: 0;
        display: grid;
        grid-template-columns: 1fr;
        width: 100vw;
        gap: 0;
        margin-bottom: 60px;
    }

    .card {
        min-width: 45vw;
        padding-bottom: 0;
    }


}

